@media (min-width: 320px) and (max-width: 480px) {

.navBar {
  height: 80px;
  justify-content: space-between;
}
.inputForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.inputForm input {
  padding: 2px;
}
.navBar li {
  padding-left: 20px;
}

}
@media (min-width: 481px) {
  .navBar li {
    padding-left: 40px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(background-blue.jpeg);
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storeLI a {
  text-decoration: none;
  color: black;
}

.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background-color: blue;
  opacity: .6;
  margin-bottom: 5%;
  align-items: center;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar li {
  display: inline-grid;
}

.btnSubmit {
  background-color: blue;
  color: white;
  padding: 2px 5px 2px 5px;
  margin-top: 7px;
}
.btnDelete {
  background-color: orangered;
  color: white;
  padding: 2px 5px 2px 5px;
  margin-top: 7px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.customForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items label {
  padding-right: 30px;
}

.inputForm input {
  margin: 5px;
  border: black;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}

.customForm h3 {
  margin-top: 20px;
}
