<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  </head>
  <body>
    <div class="navBar">
      <ul>
        <li><a href='/login'>Login</a></li>
        <li><a href='/show-lists'>View Lists</a></li>
        <li><a href='/create-list'>Create a List</a></li>
      </ul>
    </div>
    <h1><u>Login</u></h1>
    <p>Need to register? <a href='/register'>Click here.</a></p>
    <div>
      <form action="/login" method = "POST">
          <input type="text" name = "username" placeholder="username"/>
          <input type="password" name = "password" placeholder="password"/>
          <input type="submit" value="Login" />
      </form>
  </div>
  </body>
</html>
