<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lists</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navBar">
      <ul>
        <li><a href='/login'>Login</a></li>
        <li><a href='/show-lists'>View Lists</a></li>
        <li><a href='/create-list'>Create a List</a></li>
      </ul>
    </div>
    <h1><u>Grocery Lists</u></h1>
    <ul>
      {{#lists}}

      <li class='storeLI'>
        <form class="customForm" action='/show-lists' method="POST">
          <input type='hidden' name='listID' value='{{id}}'/>
          <h3>{{name}}</h3>
          <p> {{street}}, {{city}} {{state}}</p>
          <input class='btnDelete' type="submit" value="Delete List" />
        </form>
      </li>

      {{/lists}}
    </ul>

  </body>
</html>
